registry=https://pkgs.dev.azure.com/alexjina/mealplanhelper/_packaging/prod-Testing/npm/registry/ 
                        
always-auth=true

// npm install -g vsts-npm-auth --registry https://registry.npmjs.com --always-auth false

//vsts-npm-auth -config .npmrc

// npm install

npm publish

